.product-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  max-width: 50%;
  margin: auto;

  .btn-create {
    margin: 4px;
  }
}
