.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .container {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    &-col-left {
      width: 45%;
      background: #4caf50;
    }

    &-col-left,
    &-col-right {
      width: 55%;
      padding: 45px 35px;
      display: flex;
    }
  }
}

@media (max-width: 575.98px) {
  .container {
    flex-direction: column;
    box-shadow: none;
    &-col-left,
    &-col-right {
      width: 100%;
      margin: 0;
      padding: 30px;
      -webkit-clip-path: none;
      clip-path: none;
    }
  }
}
